In [28]:
import pandas as pd
import six
from pyspark.sql import SQLContext
from pandas.plotting import scatter_matrix

In [22]:
sqlContext = SQLContext(sc)
data = sqlContext.read.format('com.databricks.spark.csv').options(header='true', inferschema='true').load('/input/Boston.csv')
data.take(1)

[Row(_c0=1, crim=0.00632, zn=18.0, indus=2.31, chas=0, nox=0.538, rm=6.575, age=65.2, dis=4.09, rad=1, tax=296, ptratio=15.3, black=396.9, lstat=4.98, medv=24.0)]

In [23]:
type(data)  #It's not simple dataset it's RDD

pyspark.sql.dataframe.DataFrame

In [24]:
data.cache()

DataFrame[_c0: int, crim: double, zn: double, indus: double, chas: int, nox: double, rm: double, age: double, dis: double, rad: int, tax: int, ptratio: double, black: double, lstat: double, medv: double]

In [25]:
data.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- crim: double (nullable = true)
 |-- zn: double (nullable = true)
 |-- indus: double (nullable = true)
 |-- chas: integer (nullable = true)
 |-- nox: double (nullable = true)
 |-- rm: double (nullable = true)
 |-- age: double (nullable = true)
 |-- dis: double (nullable = true)
 |-- rad: integer (nullable = true)
 |-- tax: integer (nullable = true)
 |-- ptratio: double (nullable = true)
 |-- black: double (nullable = true)
 |-- lstat: double (nullable = true)
 |-- medv: double (nullable = true)

In [26]:
data.describe().toPandas().transpose()

             0                   1                    2        3        4
summary  count                mean               stddev      min      max
_c0        506               253.5    146.2138844296259        1      506
crim       506  3.6135235573122535    8.601545105332491  0.00632  88.9762
zn         506  11.363636363636363    23.32245299451514      0.0    100.0
indus      506  11.136778656126504    6.860352940897589     0.46    27.74
chas       506  0.0691699604743083   0.2539940413404101        0        1
nox        506  0.5546950592885372  0.11587767566755584    0.385    0.871
rm         506   6.284634387351787   0.7026171434153232    3.561     8.78
age        506   68.57490118577078   28.148861406903595      2.9    100.0
dis        506   3.795042687747034     2.10571012662761   1.1296  12.1265
rad        506   9.549407114624506    8.707259384239366        1       24
tax        506   408.2371541501976   168.53711605495903      187      711
ptratio    506  18.455533596837967   2.1649455237144455     12.6     22.0
black      506  356.67403162055257    91.29486438415782     0.32    396.9
lstat      506  12.653063241106723    7.141061511348571     1.73    37.97
medv       506  22.532806324110698    9.197104087379815      5.0     50.0

In [ ]:
numeric_features = [t[0] for t in data.dtypes if t[1] == 'int' or t[1] == 'double']
sampled_data = data.select(numeric_features).sample(False, 0.8).toPandas()
axs = scatter_matrix(sampled_data, figsize=(10, 10))
n = len(sampled_data.columns)
for i in range(n):
    v = axs[i, 0]
    v.yaxis.label.set_rotation(0)
    v.yaxis.label.set_ha('right')
    v.set_yticks(())
    h = axs[n-1, i]
    h.xaxis.label.set_rotation(90)
    h.set_xticks(())
    h.pl